// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$Oxygen:'Oxygen', sans-serif;
$Poppins:'Poppins', sans-serif;
$accent-color:hsl(42, 100%, 60%);
$warn-color:hsl(336, 100%, 50%);
$main-text-color:hsl(240, 10%, 16%);
$white-color:hsl(0, 0%, 100%);
$gray-color-1:hsl(0, 0%, 96%);
$gray-color-2:hsl(0, 0%, 90%);